{% extends "base.html" %}
{% load staticfiles %}
{% block title%}Login{% endblock %}
{% block content %}
<div class='row text-center vertical-middle-sm'>
<h1>Login</h1>
<p>Input your username and password</p>
<!-- <p>I am registration</p>  -->
<!-- 創建前端顯示的表單 ，action = "."表示提交到當前地址-->
<form class="form-horizontal" action="{% url 'account:user_login' %}" method="post">{% csrf_token %}
        <!-- <form class="form-horizontal" action="." method="post">{% csrf_token %} -->
    <!-- {{form.as_p}} -->
    <div class="form-group">
        <label for="{{form.username.id_for_lable}}" class="col-md-5 control-lable text-right" style="color:#484848">
            <span class="glyphicon glyphicon-user"> </span> Username
        </label>
            <div class="col-md-6 text-left">{{form.username}}</div>
    </div>
    <div class="form-group">
        <label for="{{form.password.id_for_lable}}" class="col-md-5 control-lable text-right" style="color:#484848">
            <span class="glyphicon glyphicon-floppy-open"> </span> Password
        </label>
            <div class="col-md-6 text-left">{{form.password}}</div>
    </div>
    <!-- <input type="submit" value="Login"> -->
    <input type="submit" class="btn btn-primary btn-lg" value="Login">
</form>
<br>
<p>if you forget your password, you can choose to <a href="{% url 'account:password_reset' %}">reset</a> your password!</p>
<p>if you had not a username . <a href="{% url 'account:user_register' %}">Register to be a user</a> . please  </p>
</div>
{% endblock %}


