{% extends "base.html" %}
<!-- {% load staticfiles %} -->
{%  block title %}password change{% endblock %}
{% block content %}
<div class="row text-center vertical-middle-sm">
    <h1>Change password</h1>
    <div style="margin:20px 0px 30px 0px ">
        <p>Please enter your old password,for security`s sake,and then enter your new password 
            twiceso we can verify your typed it in correctly.</p>
        <p>*Note:  Password must be eight characters or more and cannot be too simple</p>
    </div> 
    {% if form.new_password1.help_text %}
    <div class="text-left" style="margin-left:400px">
        <p>{{form.new_password1.help | safe}}</p>
    </div>
    {% endif %}
    <form action="." class="form-horizontal" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="col-md-5 control-label text-right">
                {{form.old_password.label_tag}}
            </label>
            <div class="col-md-6 text-left">
                {{form.old_password}}
            </div>
        </div>

        <div class="form-group">
                <label class="col-md-5 control-label text-right">
                    {{form.new_password1.label_tag}}
                </label>
                <div class="col-md-6 text-left">
                    {{form.new_password1}}
                </div>
            </div>

            <div class="form-group">
                    <label class="col-md-5 control-label text-right">
                        {{form.new_password2.label_tag}}
                    </label>
                    <div class="col-md-6 text-left">
                        {{form.new_password2}}
                    </div>
                </div>
                <input type="submit" value="Change my password" class="btn btn-primary btn-lg">
    </form>
</div>
{% endblock %}
