<div class="container" style="position:fixed ! important;bottom:0px;left:0;right:0;z-index:auto;background-color:#FFFFFF">
    <div>
        <hr>
        {% if motto %}
        <span id='next' class="glyphicon glyphicon-arrow-right" style="color:#ccc;float:right"></span>   
        <div style="width:97%;float:right"><p id="motto" style="text-align:center">{{motto}}</p>                      
        </div>
        <span id='last' class="glyphicon glyphicon-arrow-left" style="color:#ccc"></span> 
        {% else %}
        <p class="text_center" style="text-align:center">Hello ,My Dajano</p>
        {% endif %}
    </div>
</div>
